{% extends "base.html" %} 

{% block page_title %} 
{{post.name}} 
{% endblock page_title %} 

{% block content %}

<div class="container relative flex flex-col sm:w-75vh lg:w-1/1 md:w-3/4 xl:w-1/2 my-10 m-auto items-center border border-gray-400 sm:h-50vh & my-20 xl:h-75vh">
    <div class="relative top-0 flex w-full sm:h-10 mt-1 p-2 font-medium border-b border-gray-300">{{post.name}}</div>
    <div class="flex w-full h-full mb-1">
        <div class="flex flex-col w-1/2 overflow-y-auto">
            {% for photo in photos %}
                <ul class="my-1"><img src="{{photo.file.url}}" class=""></ul>
            {% endfor %}
        </div>
        <div class="flex flex-col w-1/2 border-b border-gray-300">
            <div class="flex flex-col sm:h-40 xl:h-25vh mt-1 p-1 overflow-y-auto">
                <div class="flex h-full overflow-y-auto mb-1 border-b border-gray-300">
                    {{post.description}}
                </div>
                <div class="flex h-10 overflow-y-auto">
                    {% if not post.businesses.all %}
                        <span class="text-lg font-medium text-gray-500 mx-24 mt-10">No Businesses</span>
                    {% endif %}
                        
                    {% for business in post.businesses.all %}
                        <a class="font-medium" href="{% url 'businesses:detail' business.pk %}">#{{business.name}}</a>
                    {% endfor %}   
                </div>
            </div>
            <div class="flex flex-col sm:h-40 xl:h-50vh mt-1">
                <div class="flex h-10 p-1 items-center border-b border-t border-gray-300">
                    <i class="far fa-comment mr-1"></i> {{post.comments.count}}
                </div>
                <div class="flex flex-col h-full p-1 overflow-y-auto">
                    {% for comment in post.comments.all %}
                    <div class="border-section">
                        <div class="flex justify-between">
                            <div class="flex mb-3">
                                <div>
                                    {% include "mixins/user/user_avatar.html" with user=comment.user h_and_w='w-10 h-10' %}
                                </div>
                                <div class="flex flex-col ml-2">
                                <a href="{% url 'users:profile' comment.user.pk %}" class="font-medium">{{comment.user.first_name}}</a>
                                <span class="text-sm text-gray-500">{{comment.created|date:'M Y'}}</span>
                                </div>
                            </div>
                            
                            {% if comment.user == user %}
                            <div class="flex">
                                <a href="{% url "comments:edit" comment.pk %}"><i class="fas fa-pen"></i></a>
                                <a href="{% url "comments:delete" comment.pk %}"><i class="fas fa-trash-alt"></i></a>
                            </div>    
                            {% endif %}
                            
                        </div>
                        <p>{{comment.comment}}</p>
                    </div>
                    {% endfor %}
                </div>
            </div>
            <div class="flex h-15 my-1">
                <form class="flex w-full h-10" action="{% url "comments:create" post.pk %}" method="POST">
                    {% csrf_token %}
                    <input type="text" name="comment">
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
