{% extends "base.html" %} 

{% block page_title %} 
{{post.name}} 
{% endblock page_title %} 

{% block content %}

<div class="container lg:w-1/1 md:w-3/4 xl:w-1/2 md:my-10 xl:my-20 m-auto flex flex-col items-center border border-gray-400">

    <div class="container w-full my-2 px-2 font-medium">{{post.name}}</div>
    <div class="flex">
        <div class="mx-2 w-1/2 align-bottom">
            <img class="" src="{{post.first_photo}}">
        </div>

        <div class="m-2 w-1/2">
            <div class="border-b border-gray-400">
                <h3>{{post.description}}<h3>
                <div>
                        
                    {% for business in post.businesses.all %}
                        <a href="{% url 'businesses:detail' business.pk %}"># {{business.name}}</a>
                    {% endfor %}   
                </div>
            </div>
            <div class="border-b border-gray-400 flex justify-between">
                <span class="text-sm flex items-center">
                    <i class="far fa-comment mr-1"></i> {{post.comments.count}}
                </span>
                <span>
                    <i class="far fa-heart mr-1"></i> 3
                </span>
            </div>
            <div>
                {% for comment in post.comments.all %}
                    <div class="border-section">
                        <div class="flex justify-between">
                            <div class="flex mb-3">
                                <div>
                                    {% include "mixins/user_avatar.html" with user=comment.user h_and_w='w-10 h-10' %}
                                </div>
                                <div class="flex flex-col ml-2">
                                <span class="font-medium">{{comment.user.first_name}}</span>
                                <span class="text-sm text-gray-500">{{comment.created|date:'M Y'}}</span>
                                </div>
                            </div>
                            
                            {% if comment.user == user %}
                            <div class="flex">
                                <a href="{% url "comments:edit" comment.pk %}"><i class="fas fa-pen"></i></a>
                                <a href="{% url "comments:delete" comment.pk %}"><i class="fas fa-trash-alt"></i></a>
                            </div>    
                            {% endif %}
                            
                        </div>
                        <p>{{comment.comment}}</p>
                    </div>
                    
                {% endfor %}
            </div>

            <div>
                <form class="flex" action="{% url "comments:create" post.pk %}" method="POST">
                    {% csrf_token %}
                    {{form.as_p}}
                    <input class="w-1/12" type="submit" value="">
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
