[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flake8 = "*"
black = "*"
wheel = "*"

[packages]
django = "==2.2.21"
django-seed = "*"
django-dotenv = "*"
django-storages = "*"
django-extensions = "*"
django-phone-field = "*"
pillow = "*"
requests = "*"
boto3 = "*"
sentry-sdk = "==0.13.4"
psycopg2 = "*"
graphviz = "*"
pydotplus = "*"

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true
