[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flake8 = "*"
black = "*"

[packages]
django = "==3.0"
pillow = "*"
django-seed = "*"
django-dotenv = "*"
requests = "*"
django-storages = "*"
boto3 = "*"
django-extensions = "*"
sentry-sdk = "==0.13.4"
psycopg2 = "*"
django-phone-field = "*"

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true
