{% extends "base.html" %}

{% block page_title %}
    Search
{% endblock page_title %}

{% block search-bar %}
    <form class="flex" method="get" action="{% url "core:search" %}">
        {{form.as_p}}
        <button>Search</button>
    </form>
{% endblock search-bar %}

{% block content %}

<div class="flex flex-col mx-24 my-10">

    {% if not posts and not businesses %}
        <span class="text-lg font-medium text-gray-500 mx-24 mt-10">No Result</span>
    {% endif %}
        
    
    {% if posts %}
        <span class="font-medium mx-24 mt-10">Posts</span>
        <div class="flex flex-wrap mx-24 mt-10">
            {% for post in posts %}
                {% include 'mixins/post_card.html' with post=post %}
            {% endfor %}
        </div>

        <div class="flex items-center justify-center mx-auto container">
            {% if posts.has_previous %}
                <a href="?page={{posts.previous_page_number}}" class="text-500"><i class="fas fa-chevron-left fa-lg"></i></a>
            {% endif %}
                <span class="mx-3 font-medium text-lg">
                    {{posts.number}} of {{posts.paginator.num_pages}}
                </span>
            {% if posts.has_next %}
                <a href="?page={{posts.next_page_number}}" class="text-500"><i class="fas fa-chevron-right"></i></a>
            {% endif %}
        </div>
    {% endif %}

</div>
{% endblock content %}