{% extends "base.html" %}

{% block page_title %}
    Search
{% endblock page_title %}

{% block search-bar %}
    <form class="" method="get" action="{% url "core:search" %}">
        <input class="search-box border px-5 w-full font-medium text-gray-300 placeholder-gray-600 py-3 rounded-sm w-64 shadow-md hover:shadow-lg focus:outline-none" name="keyword" placeholder="Search"/>
{% endblock search-bar %}

{% block content %}
<div class="flex flex-col mx-1">
<div class="flex h-10 w-full border-b border-gray-400 content-center my-2">
    <div class="flex ml-20"> business <input type="checkbox" name="business" class="h-3 my-2 ml-2"></div>
    <div class="flex ml-5"> post <input type="checkbox" name="post" class="h-3 my-2 ml-2"></div>
    </form>
</div>
<div class="flex flex-col mx-24 my-10">
    
    
    {% if not posts and not businesses %}
        <span class="text-lg font-medium text-gray-500 mx-24 mt-10">No Result</span>
    {% endif %}
        
    
    {% if posts %}
        <span class="font-medium mx-24 mt-10">Posts</span>
        <div class="flex flex-wrap mx-24 mt-10">
            {% for post in posts %}
                {% include 'mixins/post_card.html' with post=post %}
            {% endfor %}
        </div>
    {% endif %}

    
    {% if businesses %}
        <span class="font-medium mx-24 mt-10">Businesses</span>
        <div class="flex flex-wrap mx-24 mt-10">
            {% for business in businesses %}
                {% include 'mixins/business/business_card.html' with business=business %}
            {% endfor %}
        </div>
    {% endif %}
        
</div>
</div>


{% endblock content %}