<a href="{% url "core:home" %}">BusanIn</a>
<ul>
    <li><a href="#">Chatting</a></li>
    <li><a href="#">Shop</a></li>
    {% if user.is_authenticated %}
        <li><a href="#">{{user.username}}</a></li>
        <ul>
            <li><a href="#">Edit Profile</a></li>
            <li><a href="#">Messages</a></li>
            <li><a href="#">List</a></li>
            <li><a href="#">Like</a></li>
            <li><a href="{% url "users:logout" %}">Log out</a></li>
        </ul>
    {% else %}
        <li><a href="{% url "users:login" %}">Log in</a></li>
        <li><a href="{% url "users:signup" %}">Sign Up</a></li>
    {% endif %}
</ul>