<div class="w-1/4 mb-10 px-2 overflow-hidden">
    <a href="{% url "businesses:detail" business.pk %}">
        <div class="w-64 h-64 bg-cover bg-center rounded-lg" style="background-image: url({{business.first_photo}});">
        </div>
        <div class="flex justify-between">
            <!--<span>
                <i class="far fa-heart mr-1"></i>
            </span>-->
        </div>
        <div class="text-base overflow-hidden h-8 my-1">
            {{business.name}}
        </div>
        <div class="text-sm overflow-hidden h-10 mt-2">
            {{business.description}}
        </div>
    </a>
</div>