{% extends "base.html" %} 

{% block page_title %} 
{{business.name}} 
{% endblock page_title %} 

{% block content %}
<div>
    <h1>{{business.name}}</h1>
    <h2>{{business.address}}</h2>
</div>
<div>
    <div>
        <h2>{{business.open_time}}</h2>
        <h2>{{business.close_time}}</h2>
    </div>
    <h2>{{business.phone}}</h2>
</div>

<div>
    <h2><a href="{{business.businessman.get_absolute_url}}">{{business.businessman.username}}</a></h2>
    <h2>BOOKMARK</h2>
</div>
<div>
    <a href="{% url "businesses:update" %}">Edit Business</a>
    <a href="{% url "businesses:delete" %}">Delete Business</a>
</div>

<div>
    <H3>{{business.description}}</H3>
</div>

{% endblock content %}
