{% extends "base.html" %}

{% block page_title %}
    Business
{% endblock page_title %}   

{% block content %}

<div class="container lg:w-5/12 md:w-1/2 xl:w-1/4 mx-auto my-10 flex flex-col items-center border p-6 border-gray-400">
    {% include "mixins/user_avatar.html" with user=user_obj %}
    <div>
        <span>{{user.username}}</span>
    </div>
</div>
    
<div>
    <a href="{% url "businesses:create" %}">Create Business</a>
    {% for business in businesses %}
        <h3>
            <a href="{% url "businesses:detail" pk=business.pk %}">{{business.name}} / {{business.businessman.username}}</a>
        </h3>
    {% endfor %}

    <h5>
    {% if page_obj.has_previous %}
        <a href="?page={{page_obj.previous_page_number}}">Previous</a>
    {% endif %}
    Page {{page_obj.number}} of {{page_obj.paginator.num_pages}}
    {% if page_obj.has_next %}
        <a href="?page={{page_obj.next_page_number}}">Next</a>
    {% endif %}
    </h5>
</div>

{% endblock content %}